<%- include("../../layout/header"); %>

<h1 class="text-center mt-3">Users</h1>
<div class="row mt-3">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email Id</th>
          <th scope="col">DOB</th>
          <th scope="col">Phone</th>
          <th scope="col">State</th>
          <th scope="col">country</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% Users.forEach(function(user) { %>
        <tr>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <td><%= user.email%></td>
          <td><%= user.dob%></td>
          <td><%= user.phone%></td>
          <td><%= user.state_id.name%></td>
          <td><%= user.country_id.name%></td>
          <td>
            <% if(user.is_active === true) { %>
            <span class="badge badge-pill badge-success">ACTIVE</span>
            <% } else { %>
            <span class="badge badge-pill badge-secondary">INACTIVE</span>
            <% } %>
          </td>
          <td>
            <a href="user/<%= user.id %>/edit" class="btn btn-info">Edit</a>
            <form
              action="/users/<%= user.id %>/delete?_method=DELETE"
              method="POST?_method=DELETE"
              class="d-inline"
            >
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </div>
</div>

<%- include("../../layout/footer"); %>
